 <div id="nav_bar" class="z_index_2">
    <div id="logo" class="horizontally_centered unselectable undraggable">
        🐲
    </div>

    <a class="horizontally_centered unselectable" href="{{ path('home') }}">
        ABOUT US
    </a>

    <a class="horizontally_centered unselectable" href="{{ path('donate') }}">
        DONATE
    </a>

    <a class="horizontally_centered unselectable" href="{{ path('donations') }}">
        REQUEST
    </a>

    {% if is_granted('ROLE_USER') %}
        <a class="horizontally_centered unselectable" href="{{ path('logout') }}">
            PROFILE
        </a>
    {% else %}
        <a class="horizontally_centered unselectable" href="{{ path('register') }}">
            SIGN IN
        </a>
     {% endif %}
 </div>
