{% extends 'base.html.twig' %}

{% form_theme registrationForm 'themes/basicFormTheme.html.twig' %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/sign_in_page.css') }}">
{% endblock %}

{% block content %}
    <div id="form_container_div" class="wrap_text centered rounded_corners">
        <div class="text_div centered_text">
            CREATE YOUR ACCOUNT
        </div>

        <div id="form_div">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.mailAddress) }}
                {{ form_row(registrationForm.password) }}
                {{ form_row(registrationForm.confirmPassword) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}

                {{ form_row(registrationForm.submit) }}

                {{ form_row(registrationForm._token) }}

                {{ form_errors(registrationForm.mailAddress) }}
            {{ form_end(registrationForm, {'render_rest': false}) }}
        </div>

        <div class="text_div centered_text">
            ALREADY HAVE AN ACCOUNT?
        </div>

        {% if error %}
            {{ error }}
        {% endif %}
        <br>
        <div class="text_div centered_text">
            <a class="" href="{{ path('login') }}">
                SIGN IN
            </a>
        </div>
    </div>
{% endblock %}

{% block additional_javascripts %}
    <script>
        let password = document.getElementById("user_password");
        let confirmPassword = document.getElementById("user_confirmPassword");
        let submitButton = document.getElementById("user_submit");

        submitButton.disabled = true;

        confirmPassword.addEventListener("input", () => {
            if (password.value.length >= 8) {
                if (confirmPassword.value === password.value) {
                    password.classList.remove('red_outline');
                    confirmPassword.classList.remove('red_outline');
                    submitButton.disabled = false;
                } else {
                    password.classList.add('red_outline');
                    confirmPassword.classList.add('red_outline');
                    submitButton.disabled = true;
                }
            } else {
                submitButton.disabled = true;
            }
        });

    </script>
{% endblock %}
